/*Global*/


.container {
    margin: 0 auto;
    width: 80%;
}



/*Layout*/

/* Images */

.astro {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

/*Typography*/
h1 {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: 2em;
}

h2 {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: 1.75;em;
}

h3 {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: 1.5;em;
}

body {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: .75em;
    line-height: 1.6;
}
/*Navigation*/
a {
    background: ;
    border-radius: 50px;
    display: inline-block;
    height: 50px;
    width: 100px;
     text-decoration: none;
}

ul {
    list-style: none;
}

li {
    float: left;
}

/* Media Query */

    /* Mobile */
/*
    @media screen and (min-width: 20em) {

      body {
        background: red;
      }

    }
*/

    /* Tablet */
/*
    @media screen and (min-width: 48em) {

      body {
        background: green;
      }

    }
*/

    /* Desktop */
/*
    @media screen and (min-width: 64em) {

      body {
        background: blue;
      }

    }

*/
