/*Global*/

body {
    background: #E0E0E0;
}


.container {
    margin: 0 auto;
    width: 80%;
}


/* Images */

.astro {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

/*Typography*/
h1 {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: 2em;
    color: #AB4E00;
}

h2 {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: 1.5em;
    color: #AB4E00;
}

h3 {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: 1.25em;
    color: #AB4E00;
}

body {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
    font-size: .75em;
    line-height: 1.6;
    color: #39273E;
}
/*Navigation*/
a {
    background: #BFBFBF;
    border-radius: 20px;
    display: block;
    height: 25px;
    width: 100px;
    text-decoration: none;
/*    padding: 3px 11px;*/
    margin: 1em;
    vertical-align: baseline;
    cursor: auto; 
    text-align: center;
    
    color: #39273E;
    
}

a:hover {
    color: #E0E0E0;
}

a:visited {
    color: #AB4E00;
}

ul {
    list-style: none;
}

/* For CollagePlus */
/* Cannot for the life of me figure out why this won't work.. */
.collage{

/*    background: red;*/
    padding:10px;
    width: 30%;
    height: 30%;

    }

.collage img{

    vertical-align:bottom;
    opacity:0;

    }

/* Media Query */

    /* Mobile */
    @media screen and (min-width: 20em) {

        .container {
        margin: 0 auto;
        width: 90%;
        }
        
        .astro {
            width: 23%;
            height: 23%;
        }

    }

    /* Tablet */
    @media screen and (min-width: 36em) {

        .container {
        margin: 0 auto;
        width: 85%;
        }
        
        .astro {
            width: 17%;
            height: 17%;
        }

    }

    /* Desktop */
    @media screen and (min-width: 64em) {

        .container {
        margin: 0 auto;
        width: 90%;
        }
        
        .astro {
            width: 15%;
            height: 15%;
        }

    }

